container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python confessional_christianity/manage.py migrate --noinput"
    leader_only: true
  02_import_wcf:
    command: "source /opt/python/run/venv/bin/activate && python confessional_christianity/manage.py import_wcf --noinput"
    leader_only: true
