container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python confessional_christianity/manage.py migrate --noinput"
    leader_only: true
  02_import_wcf_summary:
    command: "source /opt/python/run/venv/bin/activate && python confessional_christianity/manage.py import_wcf_summary"
    leader_only: true
  03_import_wcf_passages:
    command: "source /opt/python/run/venv/bin/activate && python confessional_christianity/manage.py import_wcf_passages"
    leader_only: true
  04_import_wcf_citations:
    command: "source /opt/python/run/venv/bin/activate && python confessional_christianity/manage.py import_wcf_citations"
    leader_only: true
  05_delete:
    command: "source /opt/python/run/venv/bin/activate && python confessional_christianity/manage.py delete_wcf_citations_and_passages"
    leader_only: true